python3 -m uvicorn app.main:app --reload --host 0.0.0.0 --port 8080
.env
__pycache__/
https://chatgpt.com/share/6932d174-ce30-8008-b09e-8bf9eefa137b
docker build -t solution-builder-java:latest .
docker exec -it env_360ba677a3 bash 
docker cp env_5da2f97df1:/workspace/. ./project

apt update
apt install nano -y